*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto" sans-serif;
    color: #434455;
    background-color: #ffffff;
}



/* Стилі для обнулення верхніх відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

ul {
    list-style: none;
}

/*============================company Valia===================*/
.company {
display: flex;
justify-content: center;
align-items: center;
padding-top: 172px;
padding-bottom: 172px;
padding-left: 130px;
padding-right: 130px;
}

.company-title {
text-align: center;
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 4.8;
margin-bottom: 60px;
}

.company-list {
    display: flex;
    gap: 66.58px;
}

.company-item {
    width: calc((100% - 2 * 66,58px) / 3);
}

.company-img {
width: 71.701px;
height: 70px;
flex-shrink: 0;
justify-content: center;
}





/*======================================Modal================*/

.backdrop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.56);
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    width: 650px;
       min-height: 854px;

       position: absolute;
       top:50%;
       left: 50%;
       transform: translate(-50%,-50%);
       background-color: #ffffff;
}

.modal-btn-close {
    width: 24px;
    height: 24px;

    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;

}
