.tariff-offers {
  padding: 175px 0;
}

.tariff-title {
  color: #2E363E;
text-align: center;
font-family: Inter;
font-size: 36px;
font-weight: 700;
line-height: 1.33em; 
margin-bottom: 60px;
}

.offers-list {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 20px;
  list-style: none;
}

.offers-item {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 2px 4px 15px 0px rgba(0, 0, 0, 0.05);
  max-width: 380px;
}

.tariff-img {
  margin: 20px auto 0 auto;
}

.offers-content {
  padding: 47px 35px 42px 35px;
  min-width: 380px;
  position: relative;
}

.tariff-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
}

.tariff-name {
  font-size: 27px;
  line-height: 1.1;
  margin-right: 60px;
}

.tariff-price {
  color: #434b53;
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  line-height: 1.1;
}

.tariff-description {
  font-size: 16px;
  line-height: 1.1;
  margin-bottom: 12px;
  text-align: left;
}

.tariff-speed {
  color: #2E363E;
  font-family: Inter;
  font-size: 16px;
  line-height: 1.1em;
  margin-bottom: 75.5px;
  text-align: left;
}

.tariff-speed span {
  color: #2E363E;
font-size: 18px;
font-weight: 600;
line-height: 1.1em;
}

.tariff-link {
  display: block;
  color: #5F0A61;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1em;
  position: absolute;
  right: 36px;
  bottom: 40px;
}


