/*-----------hero-----------*/
.hero {
    width: 1440px;
    height: 5330px;
    background: #FFF;
}

.container {
    display: flex;
    flex-wrap:wrap;


}

.hero-title {
    color: #2E363E;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 0.62;
    letter-spacing: -0.02em;
    width: 100%;
    height: 124px;
    margin-bottom: 25px;
}

.hero-text {
    color: #434B53;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.34;
    letter-spacing: -0.01em;
    height: 68px;
    margin-bottom: 25px;
}

.hero-image {
    width: 557px;
    height: auto;
    display: inline-flex;
    justify-content: end;
}

.hero-btn {
    color: #FFF;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 0.30;
    letter-spacing: -0.2px;
    width: 300px;
    height: 70px;
    border-radius: 5px;
    background: #5F0A61;
    margin: 0 100px 50px;
}

/*------------------------------*/